html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: #f4f6f9; /* Un gris muy claro para que las tarjetas blancas resalten */
}

/* Estilos personalizados para la Universidad Fidélitas */
.btn-primary {
    background-color: #0A00A4;
    border-color: #0A00A4;
}

    .btn-primary:hover {
        background-color: #08008a;
        border-color: #08008a;
    }

.btn-outline-primary {
    color: #0A00A4;
    border-color: #0A00A4;
}

    .btn-outline-primary:hover {
        background-color: #0A00A4;
        color: white;
    }

/* Sombras suaves para el diseño "bonito" */
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075) !important;
}

/* Estilos del footer */
footer {
    margin-top: auto;
}
